<div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Pleace try again!
</div>
<div class="col-lg-8 col-md-7">
  <form (submit)="login()">
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nom d'utilisateur :</label>
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username" />
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Mot de passe :</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" />
            </div>
          </div>
        </div>
      
        <div class="test-left">
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
  </form>
</div>